:root {
    --pink: #f70776;

    --red: #c3195d;

    --purple: #680747;

    --black: #141010;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--black);
    display: grid;
    grid-template-columns: 400px 3fr;
    grid-template-rows: 100%;
    height: 100dvh;
    overflow: hidden;
}

.left-menu {
    overflow-y: scroll;
    min-width: 400px;
}

.left-menu .search-bar {
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--black);
}

.left-menu .search-bar input {
    width: 80%;
    color: var(--pink);
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    border-style: none;
}

.left-menu .search-results article {
    display: grid;
    grid-template-rows: 50px 100px;
    grid-template-columns: 50px 100px;
    row-gap: 5px;
    column-gap: 5px;
    padding: 10px;
}

.left-menu .search-results article .image {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.left-menu .search-results article .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.left-menu .search-results article .title {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.left-menu .search-results article .body {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

article {
    margin: 20px;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

article .title {
    transition: 0.2s ease;
}

article:hover {
    box-shadow: 5px 5px 25px var(--purple);
    scale: 1.1;
}

article:hover .title {
    color: var(--pink);
}

main .display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in 0.5s 1 linear;
    overflow-y: scroll;
}

main .display .title {
    margin: 30px;
    font-size: 1.5rem;
}

main .display .image {
    margin: 30px;
    width: 40%;
    text-align: center;
}

main .display .image img {
    height: auto;
}

main .display .body {
    width: 50%;
    margin: 30px;
}

main .display .body p {
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
}

main .display .date {
    margin: 30px;
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: var(--purple);
}

::-webkit-scrollbar-thumb {
    background: var(--pink);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: var(--black);
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 60dvh 100vh;
        height: 100dvh;
        overflow: hidden;
    }

    .left-menu {
        padding: 0;
        margin-top: 65px;
        overflow-y: scroll;
        min-width: 400px;
    }

    main .display .image img {
        width: 100%;
    }

    main .display .body {
        width: 90%;
        margin: 30px;
    }

    .right-menu {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 50px;
        z-index: 10;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}