:root {
  --pink: #f70776;

  --red: #c3195d;

  --purple: #680747;

  --black: #141010;
}

body {
  border: 1px solid red;
  height: 100vh;
  overflow: hidden;
}

main {
  position: relative;
  height: 100%;
}

.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-container {
  position: relative;
  display: flex;
  transition: transform 0.5s ease-in-out;
  min-width: 300px;
  max-width: 600px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.carousel-slide {
  width: 100%;
  transition: 0.5s ease;
  flex: 0 0 100%;
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--purple);
}

::-webkit-scrollbar-thumb {
  background: var(--black);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 600px) {
  main .carousel {
    display: flex;
    flex-direction: column;
  }

  .carousel-container {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 50px;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
  }
}