:root {
    --pink: #f70776;
  
    --red: #c3195d;
  
    --purple: #680747;
  
    --black: #141010;
  }
main{
    /* border: 1px solid red; */
    position: relative;
    height: 100dvh;
}
.carousel {
    width: 100%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
  }
  
  .carousel-container {
    position: relative;
    display: flex;
    
    transition: transform 0.5s ease-in-out;
    /* border: 1px solid white; */
    min-width: 300px;
    max-width: 600px;
    /* width: 600px; */
    /* padding: 10px; */
    overflow-x: hidden;
    
    scroll-snap-type: x mandatory;

  }
  
  .carousel-slide {
    width: 100%;
    /* flex-basis: 100%; */
    transition: .5s ease;
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
/* width */
::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--purple); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--black); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
